@media (max-width: 1200px )
    .container
        max-width: 650px
    
    
    .button_main
        width: 200px

@media (max-width: 768px )
    .container
        max-width: 500px

    .header
        &__logo
            width: 170px
        &__official
            font-size: 11px
            span
                font-size: 15px
        &__phone
            font-size: 15px
    
    .button
        width: 133px
        height: 28px
        &_main
            width: 180px
            height: 39px
            font-size: 15px
            line-height: 17px
    
    .promo
        min-height: 550px
        padding: 21px 0 40px 0
    
    .promo__wrapper
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 91px
    
    .promo__header
        font-size: 37px
    
    .promo__subheader
        font-size: 20px
    
    .advantages
        min-height: 447px
        padding: 40px 0 40px
        &__item
            max-width: 160px
            span
                margin: 20px 0 15px
                line-height: 16px

        


     

            

