* {
  font-family: "Museo SansCyrl", sans-serif;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 90px 0;
  background: url(../img/bg_promo.jpg) center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 91px;
}
.promo__header {
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  font-size: 42px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.promo__subheader {
  margin-top: 17px;
  font-style: normal;
  line-height: 24px;
  font-weight: 100;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 64px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icon {
  width: 106px;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
}
.promo__link {
  margin-top: 10px;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
}
.promo__link a {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: underline;
}
.promo__link a:hover {
  color: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
}
.header__official span {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
.header__phone {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.header__phone:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  background: #C70101;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
.button_main {
  margin-top: 68px;
  width: 300px;
  height: 50px;
  display: block;
  font-size: 16px;
}

.advantages {
  min-height: 473px;
  background: #F6F6F6;
  padding: 70px 0 67px;
}
.advantages__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  color: #0D0D0D;
}
.advantages__items-wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__item {
  max-width: 277px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #0D0D0D;
}
.advantages__item img {
  display: block;
  margin: 0 auto;
}
.advantages__item span {
  display: block;
  margin: 35px 0 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
}
.advantages__item a {
  color: red;
  font-weight: 300;
  font-size: 14px;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .container {
    max-width: 650px;
  }

  .button_main {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }

  .header__logo {
    width: 170px;
  }
  .header__official {
    font-size: 11px;
  }
  .header__official span {
    font-size: 15px;
  }
  .header__phone {
    font-size: 15px;
  }

  .button {
    width: 133px;
    height: 28px;
  }
  .button_main {
    width: 180px;
    height: 39px;
    font-size: 15px;
    line-height: 17px;
  }

  .promo {
    min-height: 550px;
    padding: 21px 0 40px 0;
  }

  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 91px;
  }

  .promo__header {
    font-size: 37px;
  }

  .promo__subheader {
    font-size: 20px;
  }

  .advantages {
    min-height: 447px;
    padding: 40px 0 40px;
  }
  .advantages__item {
    max-width: 160px;
  }
  .advantages__item span {
    margin: 20px 0 15px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }

  .header__official {
    display: none;
  }

  .promo__header {
    font-size: 37px;
    text-align: center;
  }
  .promo__subheader {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
  .promo__icons {
    max-width: 314px;
  }

  .advantages__title {
    font-size: 25px;
  }
  .advantages__items-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__item {
    margin-bottom: 10px;
    min-width: 290px;
  }
  .advantages__item img {
    width: 100px;
  }
  .advantages__item_no-mb {
    margin-bottom: 0;
  }
}