* {
  font-family: "Museo SansCyrl", sans-serif;
}

.container {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 90px 0;
  background: url(../img/bg_promo.jpg) center center/cover no-repeat;
}
.promo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 91px;
}
.promo__header {
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  font-size: 42px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.promo__subheader {
  margin-top: 17px;
  font-style: normal;
  line-height: 24px;
  font-weight: 100;
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.promo__icons {
  margin-top: 64px;
  width: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__icon {
  width: 106px;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
}
.promo__icon img {
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
}
.promo__link {
  margin-top: 10px;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
}
.promo__link a {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: underline;
}
.promo__link a:hover {
  color: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 250px;
}
.header__logo img {
  width: 100%;
}
.header__official {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
}
.header__official span {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
.header__phone {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}
.header__phone:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  background: #C70101;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
}
.button_main {
  margin-top: 68px;
  width: 300px;
  height: 50px;
  display: block;
  font-size: 16px;
}
.button_submit {
  width: 100%;
  height: 55px;
  font-size: 16px;
}
.button_catalog-item {
  width: 135px;
  height: 44px;
}

.advantages {
  min-height: 473px;
  background: #F6F6F6;
  padding: 70px 0 67px;
}
.advantages__title {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 30px;
  color: #0D0D0D;
}
.advantages__items-wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advantages__item {
  max-width: 277px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #0D0D0D;
}
.advantages__item img {
  display: block;
  margin: 0 auto;
}
.advantages__item span {
  display: block;
  margin: 35px 0 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 29px;
}
.advantages__item a {
  color: red;
  font-weight: 300;
  font-size: 14px;
  text-decoration: underline;
}

.consultation {
  max-height: 680px;
  padding: 100px 0 108px;
  background: url(../img/bg2.png) center center/cover no-repeat;
}
.consultation__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #FFFFFF;
}
.consultation__descr {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
}

.feed-form {
  width: 303px;
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.feed-form input {
  height: 54px;
  border: none;
  border-radius: 5px;
  margin-bottom: 17px;
  padding: 0 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4B4B4B;
}
.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 81px 0;
}
.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}
.carousel .slick-prev, .carousel .slick-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #fff;
}
.carousel .slick-prev img, .carousel .slick-next img {
  width: 31px;
  height: 50px;
}
.carousel .slick-next {
  right: -66px;
  left: auto;
}

.catalog {
  padding-bottom: 80px;
}
.catalog__title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #0D0D0D;
  text-align: center;
  text-transform: uppercase;
}
.catalog__tabs {
  list-style-type: none;
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
  padding-left: 0;
}
.catalog__tab {
  width: 222px;
  height: 52px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #D0D0D0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #6B6B6B;
  text-align: center;
  line-height: 50px;
  -webkit-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
          transform: skewX(-20deg);
  margin: 0 5px;
  cursor: pointer;
  -webkit-transition: 0, 5s all;
  -o-transition: 0, 5s all;
  transition: 0, 5s all;
}
.catalog__tab:hover {
  -webkit-box-shadow: 3px 3px 20px #C70101;
          box-shadow: 3px 3px 20px #C70101;
  border: none;
}
.catalog__tab div {
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
}
.catalog__tab_active {
  color: #FFF;
  background-color: #C70101;
  border: none;
}
.catalog__content {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}
.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: flex-wrap;
      -ms-flex: flex-wrap;
          flex: flex-wrap;
}
.catalog-item {
  width: 303px;
  min-height: 442px;
  border: 2px solid #e8e8e8;
  padding: 20px 20px;
  overflow: hidden;
  margin-bottom: 19px;
}
.catalog-item__img {
  max-width: 100%;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.catalog-item__subtitle {
  margin-top: 15px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  text-align: center;
  color: #0D0D0D;
}
.catalog-item__descr {
  margin-top: 15px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
.catalog-item__link {
  display: block;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: #C70101;
}
.catalog-item__link:hover {
  color: #C70101;
}
.catalog-item hr {
  margin-top: 13px;
  margin-bottom: 17px;
  background: #E8E8E8;
}
.catalog-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.catalog-item__old-price {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #555555;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.catalog-item__new-price {
  font-weight: bold;
  font-size: 20px;
  color: #050505;
}
.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}
.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}
.catalog-item__content_active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}
.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 20px;
  padding-right: 20px;
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 0;
  padding-left: 20px;
}
.catalog-item__list li {
  position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
  margin-bottom: 13px;
}
.catalog-item__list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #C70101;
  left: -17px;
  top: 7px;
}
.catalog-item__back {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(calc(-50% - 19px));
      -ms-transform: translateX(calc(-50% - 19px));
          transform: translateX(calc(-50% - 19px));
  display: block;
  text-transform: uppercase;
  text-decoration: underline;
  text-align: center;
  color: #C70101;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 55px;
}
.catalog-item__back:hover {
  color: #C70101;
}

.reviews {
  padding-bottom: 48px;
}
.reviews__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}
.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}
.reviews__item:last-child {
  margin-bottom: 0;
}
.reviews__item-img {
  margin-right: 60px;
}
.reviews__item-descr {
  max-width: 680px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #0D0D0D;
}
.reviews__item-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.reviews__item-marathon-quant {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #646464;
}

.footer {
  height: 630px;
  position: relative;
}
.footer__info {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 270px;
  width: 460px;
  padding: 50px 55px 55px;
  background-color: #C70101;
  text-align: center;
}
.footer__addr {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.footer__phone {
  margin-top: 36px;
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
}
.footer__phone:hover {
  color: #FFFFFF;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 36px;
}
.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 53px;
  width: 53px;
  border: 2px solid #FFFFFF;
  border-radius: 100%;
  margin: 0 15px;
}
.footer__social-item img {
  height: 25px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 650px;
  }

  .button_main {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .carousel > .container {
    max-width: 769px;
  }

  .carousel__inner {
    width: 80%;
  }
  .carousel__inner img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 500px;
  }

  .header__logo {
    width: 170px;
  }
  .header__official {
    font-size: 11px;
  }
  .header__official span {
    font-size: 15px;
  }
  .header__phone {
    font-size: 15px;
  }

  .button {
    width: 133px;
    height: 28px;
  }
  .button_main {
    width: 180px;
    height: 39px;
    font-size: 15px;
    line-height: 17px;
  }
  .button_submit {
    width: 100%;
    height: 55px;
  }

  .promo {
    min-height: 550px;
    padding: 21px 0 40px 0;
  }

  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 91px;
  }

  .promo__header {
    font-size: 37px;
  }

  .promo__subheader {
    font-size: 20px;
  }

  .advantages {
    min-height: 447px;
    padding: 40px 0 40px;
  }
  .advantages__item {
    max-width: 160px;
  }
  .advantages__item span {
    margin: 20px 0 15px;
    line-height: 16px;
  }

  .consultation {
    padding: 40px 0 40px;
  }

  .carousel__inner {
    width: 100%;
  }
  .carousel__inner img {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  .carousel .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel .slick-dots button[role=tab] {
    display: none;
  }
  .carousel .slick-dots li[role=presentation]:hover {
    cursor: pointer;
  }

  .catalog__tab {
    font-size: 15px;
  }
  .catalog__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .catalog .button_catalog-item {
    height: 40px;
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 320px;
  }

  .header__official {
    display: none;
  }

  .promo__header {
    font-size: 37px;
    text-align: center;
  }
  .promo__subheader {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
  }
  .promo__icons {
    max-width: 314px;
  }

  .advantages__title {
    font-size: 25px;
  }
  .advantages__items-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantages__item {
    margin-bottom: 10px;
    min-width: 290px;
  }
  .advantages__item img {
    width: 100px;
  }
  .advantages__item_no-mb {
    margin-bottom: 0;
  }

  .consultation {
    max-height: 535px;
    padding: 40px 0 40px;
  }
  .consultation__title {
    text-align: center;
    font-size: 24px;
    line-height: 33px;
  }
  .consultation__descr {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  .feed-form {
    margin: 30px auto;
  }

  br {
    display: none;
  }

  .carousel__inner {
    width: 100%;
  }
  .carousel__inner img {
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  .catalog__title {
    font-size: 24px;
  }
  .catalog__tab > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    line-height: 20px;
    font-size: 12px;
  }

  .reviews__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews__item-descr {
    text-align: center;
  }
  .reviews__item-img {
    margin: 0 0 20px;
  }
}